html {
  background-color: #f5f7f9;
}

body {
  background: none;
  color: #69707a;
  font-family: "Open Sans", Arial, sans-serif;
}

strong {
  color: #222324;
}

.navbar {
  background: #e16879;
}

.btn {
  font-weight: 500;
}

.btn-primary {
  background: #e16879;
  border-color: #e16879;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
  background: #e05164;
  border-color: #e05164;
}

.card {
  border-color: #ccc;
}

.card-title {
  color: #e16879;
  font-weight: 300;
}

.card-block small {
  float: right;
}

.description {
  background-image: url("../img/image6.jpg");
  background-repeat: repeat-x;
}

.jumbotron {
  background-image: url ("../img/image6.jpg");
  background-size: cover;
  color: black;
  background-color: rgba(236, 238, 239, 0);
}

.display-1 {
  color: rgb(62, 55, 55);
}